.topContactHeaderBar {
  background: darken($primaryColor3, 50%);
}

.contactHeader {
  background: url("../assets/contactHeaderOne.jpg") no-repeat;
  background-size: cover;
  min-height: 70vh;
    h1 {
      @include fontStyle(80, $primaryColor1, 600);
      line-height: 92px;
      margin-top: calc(40vh - 83px);
      width: 30%;
    }
}