.topHeaderBar {
  color: #fff;
  display: flex;
  align-items: center;
  padding: 20px 0;
    ul {
      display: flex;
      flex-direction: row;
    } li {
      justify-content: space-between;
    }
}

.topHeaderBar a {
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 0.9rem;
    &:hover {
      color: $primaryColor1;
    } &:active, &:focus {
        border: 1px solid $primaryColor1;
    }
} 

.logo {
  @include fontStyle(30, #fff, 400);
  font-family: $primaryFont;
  padding-right: 20px;
}



