.topHeaderBar {
  color: #fff;
  display: flex;
  align-items: center;
  padding: 20px 0;
    nav ul {
      display: flex;
      flex-direction: row;
      transition: all 1s ease-out;
    } li {
      justify-content: space-between;
    }
}

.topHeaderBar a {
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 0.9rem;
    &:hover {
      color: $primaryColor1;
    } &:active, &:focus {
        border: 1px solid $primaryColor1;
    }
} 

.logo {
  @include fontStyle(30, #fff, 400);
  font-family: $primaryFont;
  padding-right: 20px;
}

input[type="checkbox"] {
  opacity: 0;
  position: absolute;
}

label > svg {
  fill: #fff;
  height: 50px;
  width: 50px;
  display: none;
  position: fixed;
  top: -5px;
  right: 20px;
}

svg g {
  transition: all .5s ease;
}



