
.asideImg img {
  box-shadow: 30px 16px 0 -15px #fff;
}

.asideCopy {
  background: #fff;
  padding: 30px;
  margin-left: 35%;
  box-shadow: 15px 0px 0 0px #fff;
    p a {
      color: $secondaryColor1;
      font-style: italic;
      transition: all 1s ease;
      border: 1px solid transparent;
      font-weight: 600;
    } 
} 

.asideCopy p > a:hover {
  color: $primaryColor2;
  border-bottom: 1px solid $primaryColor2;
}

.asideCopy a:focus,
.asideCopy a:active {
  border: 1px solid $primaryColor3;
}

.asideCopy ul li {
  position: relative;
  padding-left: 20px;
    a {
      transition: all 1s ease;
    }
    a:hover {
      color: $primaryColor2;
    }
}

.asideCopy ul li::before {
  content: "•";
  color: $primaryColor2;
  position: absolute;
  left: 0;
}