.blogMainFlexContainer {
  display: flex;
  flex-direction: row-reverse;
  background: $secondaryColor3;
  padding: 135px 0 40px 0;
  color: $primaryColor3;
    .blogContainer {
      width: calc(65% - 90px);
      margin-left: 90px;
      display: flex;
      flex-direction: column;
      position: relative;
    } aside {
      width: 35%;
    }
}

.blogContent{
  border-left: 10px solid $primaryColor1;
  border-bottom: 10px solid $primaryColor1;
  padding: 60px 45px 35px 45px;
  margin: 0 90px 40px 0;
}

.blogContent::before {
  content: '';
  display: block;
  height: 160px;
  width: 30px;
}

.blogImg {
  position: absolute;
  top: -400px;
  right: 0;
  margin-bottom: 5%;
    img {
      box-shadow: -20px 20px 0 -5px $primaryColor1;
    }
}

// Blog Comments Section Starts//

.blogComments {
  padding: 0 45px;
  margin-bottom: 30px;
  margin-right: 90px;
}

.blogComments h2 {
  margin-bottom: 40px;
}

.blogCopy h2 + p {
  padding-bottom: 25px;
} 

.blogCopy p {
  padding: 10px 0;
}

.blogCommentOne,
.blogCommentTwo {
  display: flex;
  padding: 20px 0;
    h3 {
      margin: 0;
      color: $secondaryColor1;
    }
}

.blogCommentImg {
  margin-right: 30px;
}

.blogCommentImg img {
  width: 100px;
  height: 100px;
}

// Form styles//

.blogCommentsForm {
  margin-right: 90px;
  font-family: $primaryFont;
  font-weight: 300;
}

.formInput {
  width: calc(50% - 14px);
  margin: 30px 10px;
  background: $secondaryColor3;
  padding: 20px 40px;
  border: none;
  border-bottom: 2px solid $primaryColor2;
}

fieldset input:nth-of-type(1) {
  margin-left: 0;
}

fieldset input:nth-of-type(2) {
  margin-right: 0;
}

textarea {
  display: block;
  width: 100%;
  padding: 40px 0 0 40px;
  border: 2px solid $primaryColor2;
  background: $secondaryColor3;
  resize: none;
  margin-bottom: 30px;
}