.indexHeader {
  background: url("../assets/homeBckgrImage.jpg") no-repeat;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  background-position: center center;
}

.mainHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
    h1 {
      @include fontStyle(166, #fff, 400);
      font-family: $primaryFont;
      width: 45%;
      z-index: 20;
      padding-top: 8%;
      line-height: 135px;
    } .logoInvitation {
        color: $primaryColor1;
    }
}

//Decorative image//
.headerBox {
  max-width: 45%;
  width: 45%;
  z-index: 10;
  position: absolute;
  right: 0;
  bottom: -10%;
}