.indexHeader {
  background: url("../assets/homeBckgrImage.jpg") no-repeat;
  background-size: cover;
  min-height: 100vh;
  position: relative;
}

.mainHeader {
  // border: 1px solid yellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
    h1 {
      // border: 1px solid green;
      @include fontStyle(166, #fff, 400);
      font-family: $primaryFont;
      width: 45%;
      z-index: 20;
      padding-top: 8%;
      line-height: 135px;
    }   .logoInvitation {
        color: $primaryColor1;
      }
}

.headerBox {
  width: 45%;
  z-index: 10;
  position: absolute;
  right: 0;
  bottom: -12%;
  // border: 1px solid white;
}