.mainEvents {
  background: #fff;
    .eventsOne, 
    .eventsTwo {
      display: flex;
      justify-content: space-between;
    } 
    .eventsHalf {
      max-width: 50%;
    }
} 

.mainEvents {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
    h2 {
      @include fontStyle(32, $primaryColor3, 600);
    } 
    
    p {
      padding: 25px 0;
    }
}

.eventsOneCopy {
  padding: 8% 5% 2% 4%;
}

.eventsTwoCopy {
  padding: 5% 4% 2% 5%;
  text-align: right;
}

.eventsOneImg img,
.eventsTwoImg img {
  position: relative;
}

.eventsOneImg img {
  top: -15%;
  box-shadow: 20px 20px 0 -5px $primaryColor1;
}

.eventsTwoImg img {
  bottom: -15%;
  box-shadow: -20px 20px 0 -5px $primaryColor1;
}

.eventsTwo {
  flex-direction: row-reverse;
}