.mainLearnMore {
  background: $secondaryColor3;
  padding: 100px 0;
    h2 {
      @include fontStyle(36, $primaryColor3, 600);
      line-height: 50px;
    } 
}

.mainEvents {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

.mainLearnMoreContent {
  display: flex;
  flex-wrap: wrap;
    .learnMoreBox {
      width: 50%;
    }  a {
        display: flex;
        align-items: center;
    }
}

.learnMoreBox .fas {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  position: relative;
  background: $primaryColor1;
  border-radius: 50%;
  padding: 8px;
}

.learnMoreBox .fa-file {
 padding: 8px 14px;
}

.learnMoreBox p {
  margin-left: 60px;
}