@charset "UTF-8";
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.skipLink {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: #fff;
  color: #000; }

.skipLink:focus {
  left: 10px; }

.visibilityHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto; }

html {
  font-size: 125%;
  background: #f0efed; }

h1,
h2,
h3 {
  font-family: "Josefin Sans", Verdana, Arial, sans-serif; }

p {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  line-height: 32px;
  font-size: 20px;
  font-size: 1rem;
  font-size: 20;
  color: #2c2c2c;
  font-weight: 400; }

h1,
h2,
h3,
p,
ul,
figure,
form,
input,
button {
  padding: 0;
  margin: 0; }

img {
  width: 100%;
  display: block; }

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
  border: 1px solid transparent; }

a:active,
a:focus,
button:active,
button:focus {
  border: 1px solid #2c2c2c; }

a img {
  display: block; }

ul li {
  list-style-type: none; }

fieldset {
  border: none; }

button {
  background: none;
  border: 1px solid transparent; }

.readMoreButton {
  font-family: "Josefin Sans", Verdana, Arial, sans-serif;
  color: #fff;
  padding: 10px 20px 10px 20px;
  text-align: center;
  line-height: 32px;
  letter-spacing: 1px;
  background: #0e902d;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }

.findOutMoreButton {
  font-family: "Josefin Sans", Verdana, Arial, sans-serif;
  color: #fff;
  padding: 10px 40px 10px 40px;
  text-align: center;
  line-height: 32px;
  letter-spacing: 1px;
  background: #0e902d;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }

.submitButton {
  font-family: "Josefin Sans", Verdana, Arial, sans-serif;
  color: #fff;
  padding: 10px 100px 10px 100px;
  text-align: center;
  line-height: 32px;
  letter-spacing: 1px;
  background: #0e902d;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  width: 100%; }

.readMoreButton:hover,
.findOutMoreButton:hover,
.submitButton:hover {
  background: #074115; }

.topHeaderBar {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 0; }
  .topHeaderBar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out; }
  .topHeaderBar li {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.topHeaderBar a {
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: .9rem; }
  .topHeaderBar a:hover {
    color: #f8e71c; }
  .topHeaderBar a:active, .topHeaderBar a:focus {
    border: 1px solid #f8e71c; }

.logo {
  font-size: 35px;
  font-size: 1.75rem;
  font-size: 35;
  color: #fff;
  font-weight: 400;
  font-family: "Josefin Sans", Verdana, Arial, sans-serif;
  padding-right: 20px; }

input[type="checkbox"] {
  opacity: 0;
  position: absolute; }

label > svg {
  fill: #fff;
  height: 50px;
  width: 50px;
  display: none;
  position: fixed;
  top: -5px;
  right: 20px;
  background: rgba(44, 44, 44, 0.5); }

svg g {
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

.indexHeader {
  background: url("../assets/homeBckgrImage.jpg") no-repeat;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  background-position: center center; }

.mainHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 100px; }
  .mainHeader h1 {
    font-size: 166px;
    font-size: 8.3rem;
    font-size: 166;
    color: #fff;
    font-weight: 400;
    font-family: "Josefin Sans", Verdana, Arial, sans-serif;
    width: 45%;
    z-index: 20;
    padding-top: 8%;
    line-height: 135px; }
  .mainHeader .logoInvitation {
    color: #f8e71c; }

.headerBox {
  max-width: 45%;
  width: 45%;
  z-index: 10;
  position: absolute;
  right: 0;
  bottom: -10%; }

.mainOverview {
  background: #f0efed;
  padding: 180px 0;
  text-align: center; }
  .mainOverview h2 {
    font-size: 56.3px;
    font-size: 2.815rem;
    font-size: 56.3;
    color: #2c2c2c;
    font-weight: 600;
    letter-spacing: 1.3px;
    padding: 20px; }
  .mainOverview p {
    padding-bottom: 20px; }

.mainEvents {
  background: #fff; }
  .mainEvents .eventsOne,
  .mainEvents .eventsTwo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .mainEvents .eventsHalf {
    max-width: 50%; }

.mainEvents {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto; }
  .mainEvents h2 {
    font-size: 32px;
    font-size: 1.6rem;
    font-size: 32;
    color: #2c2c2c;
    font-weight: 600; }
  .mainEvents p {
    padding: 25px 0; }

.eventsOneCopy {
  padding: 8% 5% 2% 4%; }

.eventsTwoCopy {
  padding: 5% 4% 2% 5%;
  text-align: right; }

.eventsOneImg img,
.eventsTwoImg img {
  position: relative; }

.eventsOneImg img {
  top: -15%;
  -webkit-box-shadow: 20px 20px 0 -5px #f8e71c;
  box-shadow: 20px 20px 0 -5px #f8e71c; }

.eventsTwoImg img {
  bottom: -15%;
  -webkit-box-shadow: -20px 20px 0 -5px #f8e71c;
  box-shadow: -20px 20px 0 -5px #f8e71c; }

.eventsTwo {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }

.mainLearnMore {
  background: #f0efed;
  padding: 100px 0; }
  .mainLearnMore h2 {
    font-size: 36px;
    font-size: 1.8rem;
    font-size: 36;
    color: #2c2c2c;
    font-weight: 600;
    line-height: 50px;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out; }

.mainEvents {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto; }

.mainLearnMoreContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .mainLearnMoreContent .learnMoreBox {
    width: 50%;
    padding: 20px 0; }
  .mainLearnMoreContent a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.learnMoreBox a h2:hover,
.learnMoreBox a h2:focus {
  color: #0e902d; }

.learnMoreBox .fas {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  position: relative;
  background: #f8e71c;
  border-radius: 50%;
  padding: 8px; }

.learnMoreBox .fa-file {
  padding: 8px 14px; }

.learnMoreBox p {
  margin-left: 60px; }

.sectionBanner {
  background: url("../assets/bannerImage.jpg") no-repeat;
  height: 60vh;
  background-size: cover;
  width: 100%;
  background-position: center center; }

.mainAbout {
  background: #f0efed; }

.mainAboutContent {
  padding: 70px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.mainAboutImg {
  width: 25%; }
  .mainAboutImg img {
    -webkit-box-shadow: 18px 22px 0 3px #f8e71c;
    box-shadow: 18px 22px 0 3px #f8e71c; }

.mainAboutCopy {
  width: calc(75% - 70px);
  margin-left: 70px;
  color: #2c2c2c; }
  .mainAboutCopy p {
    padding: 25px 0; }

.instagramGallery {
  padding: 100px 0;
  background: #fff; }
  .instagramGallery ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .instagramGallery li {
    width: calc(33.33% - 10px);
    margin: 0 10px;
    position: relative; }

.instagramGallery ul li:first-child {
  margin-left: 0; }

.instagramGallery ul li:last-child {
  margin-right: 0; }

.instagramGallery li a {
  display: block;
  position: relative; }

.overlay {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(79, 79, 79, 0.5);
  padding: 40% 0;
  text-align: center; }
  .overlay p {
    color: #fff;
    text-transform: uppercase;
    font-weight: 300; }

.instagramGallery a:hover .overlay {
  display: block; }

footer {
  text-align: center;
  background: #2c2c2c;
  padding: 5px 0; }
  footer p {
    color: #fff;
    font-weight: 300;
    letter-spacing: 1px; }

.topBlogHeaderBar {
  background: black; }

.blogHeader {
  background: url("../assets/blogHeaderOne.jpg") no-repeat;
  background-size: cover;
  min-height: 70vh;
  background-position: center center; }
  .blogHeader h1 {
    font-size: 80px;
    font-size: 4rem;
    font-size: 80;
    color: #f8e71c;
    font-weight: 600;
    line-height: 92px;
    padding-top: calc(40vh - 83px); }

.blogMainFlexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  padding: 135px 0 40px 0;
  color: #2c2c2c;
  background: #f0efed;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto; }
  .blogMainFlexContainer .blogContainer {
    width: calc(65% - 90px);
    margin-left: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative; }
  .blogMainFlexContainer aside {
    width: 35%; }

.blogContent {
  padding: 60px 45px 35px 45px;
  margin: 0 90px 40px 0;
  -webkit-box-shadow: -19px 19px 0 -10px #f0efed, -25px 25px 0 -10px #f8e71c;
  box-shadow: -19px 19px 0 -10px #f0efed, -25px 25px 0 -10px #f8e71c; }

.blogContent::before {
  content: '';
  display: block;
  height: 160px;
  width: 30px; }

.blogImg {
  position: absolute;
  top: -400px;
  right: 0;
  margin-bottom: 5%; }
  .blogImg img {
    -webkit-box-shadow: -20px 20px 0 -5px #f8e71c;
    box-shadow: -20px 20px 0 -5px #f8e71c; }

.blogComments {
  padding: 0 45px;
  margin-bottom: 30px;
  margin-right: 90px; }

.blogComments h2 {
  margin-bottom: 40px; }

.blogCopy h2 + p {
  padding-bottom: 25px;
  color: #074115; }
  .blogCopy h2 + p .bold {
    font-weight: 600; }
  .blogCopy h2 + p .emphasis {
    font-style: italic; }

.blogCopy p {
  padding: 10px 0; }

.blogCommentOne,
.blogCommentTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 20px 0; }
  .blogCommentOne h3,
  .blogCommentTwo h3 {
    margin: 0;
    color: #074115; }

.blogCommentImg {
  margin-right: 30px; }

.blogCommentImg img {
  width: 100px;
  height: 100px; }

.blogCommentsForm {
  margin-right: 90px;
  font-family: "Josefin Sans", Verdana, Arial, sans-serif;
  font-weight: 300; }

.formInput {
  width: calc(50% - 14px);
  margin: 30px 10px;
  background: #f0efed;
  padding: 20px 40px;
  border: none;
  border-bottom: 2px solid #0e902d; }

fieldset input:nth-of-type(1) {
  margin-left: 0; }

fieldset input:nth-of-type(2) {
  margin-right: 0; }

textarea {
  display: block;
  width: 100%;
  padding: 40px 0 0 40px;
  border: 2px solid #0e902d;
  background: #f0efed;
  resize: none;
  margin-bottom: 30px; }

input:focus,
textarea:focus {
  background: #fff; }

input:focus-within,
textarea:focus-within,
form:focus-within {
  border: 1px solid #0e902d; }

input:active,
textarea:active {
  border: 1px solid #2c2c2c; }

.asideImg img {
  -webkit-box-shadow: 30px 16px 0 -15px #fff;
  box-shadow: 30px 16px 0 -15px #fff; }

.asideCopy {
  background: #fff;
  padding: 30px;
  margin-left: 35%;
  -webkit-box-shadow: 15px 0px 0 0px #fff;
  box-shadow: 15px 0px 0 0px #fff; }
  .asideCopy p a {
    color: #074115;
    font-style: italic;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    border: 1px solid transparent;
    font-weight: 600; }

.asideCopy h3 {
  padding: 20px 0; }

.asideCopy p > a:hover {
  color: #0e902d;
  border-bottom: 1px solid #0e902d; }

.asideCopy a:focus,
.asideCopy a:active {
  border: 1px solid #2c2c2c; }

.asideCopy ul li {
  position: relative;
  padding-left: 20px; }
  .asideCopy ul li a {
    padding: 2px 0;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease; }
  .asideCopy ul li:hover {
    color: #0e902d; }

.asideCopy ul li::before {
  content: "•";
  color: #0e902d;
  position: absolute;
  left: 0; }

.topContactHeaderBar {
  background: black; }

.contactHeader {
  background: url("../assets/contactHeaderOne.jpg") no-repeat;
  background-size: cover;
  min-height: 70vh;
  background-position: center center; }
  .contactHeader h1 {
    font-size: 80px;
    font-size: 4rem;
    font-size: 80;
    color: #f8e71c;
    font-weight: 600;
    line-height: 82px;
    padding-top: calc(40vh - 83px);
    width: 30%; }

.contactMain {
  background: #f0efed;
  padding-top: 135px; }

.contactMainFlexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }
  .contactMainFlexContainer .ourContactInfo {
    width: calc(40% - 40px);
    margin-right: 40px; }
  .contactMainFlexContainer .contactUsForm {
    width: 60%; }

.socialMediaLinks ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-bottom: 15px; }
  .socialMediaLinks ul li {
    margin: 5px; }
  .socialMediaLinks ul a {
    padding: 5px 2px;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out; }

.socialMediaLinks ul li:first-child {
  margin-left: 0; }

.socialMediaLinks a:hover {
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4); }

.fab {
  color: #0e902d;
  font-size: 1.2rem; }

.contactDetails {
  color: #2c2c2c;
  line-height: 30px;
  font-family: "Josefin Sans", Verdana, Arial, sans-serif; }
  .contactDetails span {
    padding: 0 3px; }

.contactDetails a:first-child {
  display: block;
  font-weight: 600;
  padding-bottom: 10px;
  font-family: "Josefin Sans", Verdana, Arial, sans-serif; }

.contactDetails a:last-child {
  width: 80%; }

.contactDetails a {
  font-family: "Roboto", Helvetica, Arial, sans-serif; }

.postalCode {
  display: block; }

.contactUsForm {
  background: #fff;
  position: relative;
  top: -450px;
  -webkit-box-shadow: -25px 25px 0 -6px #f8e71c;
  box-shadow: -25px 25px 0 -6px #f8e71c; }
  .contactUsForm .formInput,
  .contactUsForm textarea {
    background: #fff;
    font-family: "Josefin Sans", Verdana, Arial, sans-serif; }

.contactUsForm input:focus,
.contactUsForm textarea:focus {
  background: #f0efed; }

@media (max-width: 1300px) {
  .headerBox {
    bottom: -7%; }
  .mainOverview {
    padding: 150px 0; }
  .blogContent {
    padding-top: 20px; } }

@media (max-width: 1200px) {
  .headerBox {
    bottom: -3%; }
  .eventsOneCopy {
    padding-left: 6%; }
  .eventsTwoCopy {
    padding-right: 6%; }
  .mainEvents p {
    padding-top: 20px; }
  .blogContent {
    padding-top: 60px; }
  .blogImg {
    top: -310px; } }

@media (max-width: 1100px) {
  .blogContent {
    padding-top: 20px; }
  .blogContent::before {
    height: 120px; }
  .asideCopy {
    margin-left: 12%; } }

@media (max-width: 1000px) {
  .mainHeader h1 {
    width: 70%; }
  .headerBox {
    width: 50%;
    bottom: 0; }
  .eventsOneImg img {
    top: 5%; }
  .eventsTwoImg img {
    bottom: -13%; }
  .sectionBanner {
    background-position: 55%; }
  .blogContent,
  .blogComments,
  .blogCommentsForm {
    margin-right: 20px; } }

@media (max-width: 900px) {
  .mainHeader h1 {
    font-size: 7.3rem; }
  .blogHeader h1 {
    padding-top: calc(55vh - 200px); }
  .blogImg {
    width: 100%;
    top: -285px; }
  .blogContent {
    padding-top: 200px; }
  .blogContent::before {
    height: 100px; }
  .blogComments,
  .blogCommentsForm {
    padding: 0; }
  .asideCopy {
    margin-left: 0; }
  .blogMainFlexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .blogMainFlexContainer .blogContainer {
      width: 90%;
      margin: 0 auto; }
    .blogMainFlexContainer aside {
      width: 100%; }
  .blogComments,
  .blogCommentsForm {
    padding: 35px;
    margin: 0; }
  .formInput {
    display: block;
    width: 100%;
    margin: 30px 0; }
  aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
    aside .asideImg,
    aside .asideCopy {
      width: 50%;
      -webkit-box-shadow: none;
      box-shadow: none; }
  .asideCopy {
    padding: 20px; }
  .contactHeader h1 {
    font-size: 3.4rem;
    line-height: 72px; }
  .contactMain {
    padding-top: 50px; }
  .contactDetails a:last-child {
    width: 100%; }
  .contactMainFlexContainer .contactUsForm {
    width: 90%;
    top: -400px;
    right: -35px; } }

@media (max-width: 800px) {
  .headerBox {
    display: none; }
  .mainOverview {
    padding: 100px 0; }
  .eventsOneCopy {
    padding-right: 2%; }
  .eventsTwoCopy {
    padding-left: 2%;
    text-align: left; }
  .learnMoreBox h2 {
    font-size: 1.6rem; }
  .asideCopy ul li:nth-child(3),
  .asideCopy ul li:last-child {
    display: none; } }

@media (max-width: 750px) {
  .mainHeader h1 {
    font-size: 6.3rem;
    line-height: 105px; }
  .mainEvents h2,
  .learnMoreBox h2 {
    font-size: 1.3rem; }
  .mainEvents .eventsOne,
  .mainEvents .eventsTwo {
    display: block; }
  .mainEvents .eventsHalf {
    max-width: 100%;
    padding: 5%;
    text-align: center; }
  .mainLearnMore {
    padding: 80px 0; }
  .mainAboutContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .mainAboutImg {
    width: 50%;
    padding-bottom: 60px;
    margin: 0 auto; }
  .mainAboutCopy {
    width: 100%;
    margin: 0;
    text-align: center; }
  .blogContent {
    padding-top: 130px; }
  .blogComments {
    padding-bottom: 0; }
  .asideCopy {
    padding: 10px 30px; }
  .asideCopy p,
  .asideCopy ul a {
    font-size: .9rem; }
  .asideCopy h2,
  .asideCopy h3 {
    font-size: 1.2rem; }
  .asideCopy h3 {
    padding: 5px 0; }
  .contactHeader h1 {
    width: 50%; }
  .contactMain {
    padding: 50px 0; }
  .contactMainFlexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
  .contactMainFlexContainer .ourContactInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 40px 0;
    margin: 0;
    width: 100%; }
    .contactMainFlexContainer .ourContactInfo .socialMediaLinks {
      padding-right: 100px; }
  .contactMainFlexContainer .ourContactInfo .contactDetails {
    width: 100%; }
  .contactMainFlexContainer .contactUsForm {
    position: static;
    width: 100%; } }

@media (max-width: 650px) {
  .mainHeader h1 {
    font-size: 5.3rem;
    line-height: 95px;
    padding-top: 15%; }
  .topHeaderBar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }
  .topHeaderBar label {
    z-index: 1000; }
  label svg {
    display: block; }
  .logo,
  .topHeaderBar nav ul {
    display: none; }
  #responsiveNav:checked ~ nav ul {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: rgba(44, 44, 44, 0.6);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 30;
    text-align: center;
    padding-top: 10%;
    position: fixed; }
    #responsiveNav:checked ~ nav ul a {
      font-size: 1.2rem; }
  #responsiveNav:focus ~ label svg {
    border: 1px solid #f8e71c; }
  #responsiveNav:checked ~ label > svg g:nth-of-type(2) {
    opacity: 0; }
  #responsiveNav:checked ~ label > svg g:nth-of-type(1) {
    -webkit-transform: rotate(45deg) translate(100px, -155px);
    -ms-transform: rotate(45deg) translate(100px, -155px);
    transform: rotate(45deg) translate(100px, -155px); }
  #responsiveNav:checked ~ label > svg g:nth-of-type(3) {
    -webkit-transform: rotate(-45deg) translate(-280px, 10px);
    -ms-transform: rotate(-45deg) translate(-280px, 10px);
    transform: rotate(-45deg) translate(-280px, 10px); }
  .mainOverview,
  .instagramGallery {
    padding: 60px 0; }
  .mainLearnMore {
    padding: 20px; }
  .mainLearnMoreContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-line-pack: center;
    align-content: center; }
    .mainLearnMoreContent .learnMoreBox {
      width: 100%;
      padding: 15px 0; }
  .sectionBanner {
    height: 40vh; }
  .instagramGallery ul li {
    width: 50%; }
    .instagramGallery ul li:last-child {
      display: none; }
  .blogContent {
    padding-top: 60px; }
  .asideImg {
    display: none; }
  aside .asideCopy {
    width: 100%;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 50px; }
  .blogCommentsForm {
    padding: 0 0 20px 0; } }

@media (max-width: 550px) {
  .mainHeader h1 {
    font-size: 4.3rem;
    line-height: 70px;
    padding-top: 140px; }
  .blogImg {
    top: -215px; } }

@media (max-width: 500px) {
  .mainLearnMoreContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-line-pack: center;
    align-content: center; }
    .mainLearnMoreContent .learnMoreBox {
      width: 100%; }
    .mainLearnMoreContent p {
      margin: 0;
      text-align: center; }
  .blogContent {
    padding-top: 10px;
    margin-right: 0; }
  .blogComments {
    padding: 10px; }
    .blogComments h3 {
      font-size: 1rem; }
    .blogComments p {
      font-size: .9rem; }
  .contactMain {
    padding: 30px 0; }
  .contactMainFlexContainer .ourContactInfo,
  .mainLearnMoreContent a {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .contactMainFlexContainer .ourContactInfo .socialMediaLinks,
    .mainLearnMoreContent a .socialMediaLinks {
      padding: 0; }
  .contactMainFlexContainer .ourContactInfo .contactDetails {
    text-align: center;
    width: 100%; }
  .learnMoreBox .fas {
    margin: 0; } }

@media (max-width: 450px) {
  .mainHeader h1 {
    font-size: 4rem; }
  .mainOverview,
  .mainAboutContent,
  .instagramGallery {
    padding: 50px 0; }
  .mainOverview h2 {
    font-size: 2.5rem; }
  p {
    font-size: .9rem; }
  .blogContent {
    padding-top: 0;
    margin-right: 5px; }
  .blogCommentOne,
  .blogCommentTwo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .blogCommentImg {
    padding-bottom: 20px; }
    .blogCommentImg img {
      -webkit-box-shadow: 10px 10px 0 0 #f8e71c;
      box-shadow: 10px 10px 0 0 #f8e71c; }
  .blogComments h2 {
    font-size: 1.5rem;
    margin-bottom: 15px; }
  .blogCommentCopy h3 {
    font-size: .9rem; }
  .blogCommentCopy p {
    font-size: .8rem;
    line-height: 25px; }
  .contactMain {
    padding-bottom: 0px; }
    .contactMain .wrapper {
      width: 100%; }
  .contactHeader h1 {
    width: 100%; }
  .contactUsForm {
    -webkit-box-shadow: 20px 25px 0 -6px #f8e71c;
    box-shadow: 20px 25px 0 -6px #f8e71c; }
  .formInput,
  textarea {
    padding-left: 0;
    padding-right: 0;
    text-align: center; } }

@media (max-width: 400px) {
  .mainHeader h1 {
    width: 80%; }
  .mainHeader h1,
  .blogHeader h1,
  .contactHeader h1 {
    font-size: 3.5rem; }
  .mainOverview h2 {
    font-size: 2.3rem; }
  .blogContent {
    padding: 20px 30px 35px 30px; }
  .blogContent::before {
    height: 50px; }
  .blogCopy h2 {
    font-size: 1.3rem; }
  .blogCopy h2 + p {
    width: 80%; } }

@media (max-width: 380px) {
  .blogContent {
    padding: 50px 30px 35px 30px; }
  .blogImg {
    top: -180px; }
  fieldset {
    margin: 0;
    padding: 1px; } }

@media (max-width: 330px) {
  .mainHeader h1,
  .blogHeader h1,
  .contactHeader h1 {
    font-size: 3rem; }
  .blogImg {
    top: -150px; } }

/*# sourceMappingURL=style.css.map */