@media (max-width: 750px) {
  //index//
  .mainHeader h1 {
    font-size: 6.3rem;
    line-height: 105px;
  }

  .mainEvents h2,
  .learnMoreBox h2 {
    font-size: 1.3rem;
  } 

  .mainLearnMore {
    padding: 80px 0;
  }

  .mainAboutContent {
    flex-direction: column;
  }

  .mainAboutImg {
    width: 50%;
    padding-bottom: 60px;
    margin: 0 auto;
  }

  .mainAboutCopy {
    width: 100%;
    margin: 0;
    text-align: center;
  }

  //blog//

  .blogContent {
    padding-top: 130px;
  }

  .blogComments {
    padding-bottom: 0;
  }

  .asideCopy h2 {
    font-size: 1.3rem;
  }

  .asideCopy ul li:nth-child(3),
  .asideCopy ul li:last-child {
    display: none;
  }

  //contact//
  .contactHeader h1 {
    width: 100%;
  }

  .contactMain {
    padding: 50px 0;
  }

  .contactMainFlexContainer {
    flex-direction: column-reverse;
  }

  .contactMainFlexContainer .ourContactInfo {
    display: flex;
    flex-direction: row;
    padding: 40px 0;
    margin: 0;
    width: 100%;
      .socialMediaLinks {
        padding-right: 100px;
      } 
  }

  .contactMainFlexContainer .ourContactInfo .contactDetails {
    width: 100%;
  }

  .contactMainFlexContainer .contactUsForm {
    position: static;
    width: 100%;
  }
}

@media (max-width: 650px) {
  //main//
  .mainHeader h1 {
    font-size: 5.3rem;
    line-height: 95px;
    padding-top: 15%;
  }

  .topHeaderBar {
    flex-direction: row-reverse;
  }


  
  .topHeaderBar label  {
    z-index: 1000;
  }

  label svg  {
    display: block;
  }

  .logo {
    display: none;
  }

  .topHeaderBar nav ul {
    display: none;
  }

  #responsiveNav:checked ~ nav ul {
    display: block;
    flex-direction: column;
    background: transparentize($color: $primaryColor3, $amount: .4);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 30;
    text-align: center;
    padding-top: 10%;
    position: fixed;
  }


  #responsiveNav:checked ~ label > svg g:nth-of-type(2)  {
    opacity: 0;
  }

  #responsiveNav:checked ~ label > svg g:nth-of-type(1) {
    transform: rotate(45deg) translate(100px, -155px);

  }

  #responsiveNav:checked ~ label > svg g:nth-of-type(3) {
    transform: rotate(-45deg) translate(-280px, 10px);
  }

  #responsiveNav:checked  ~ .mainHeader {
    padding-top: 120px;
  }

  .mainOverview,
  .instagramGallery {
    padding: 60px 0;
  }

  .mainEvents .flexContainer {
    display: block;
  }

  .mainEvents .flexItem {
    max-width: 100%;
    padding: 5%;
    text-align: center;
  }

  .mainLearnMore {
    padding: 20px;
    background: $primaryColor3;
      h2 {
        color: #fff;
        font-weight: 400;
      }
  }

  .learnMoreBox p {
    display: none;
  }

  .sectionBanner {
    display: none;
  }

  .instagramGallery ul li {
    width: 50%;
  }

  .instagramGallery ul li:last-child {
    display: none;
  }

  //blog//

  .blogContent {
    padding-top: 60px;
  }

  .asideImg {
    display: none;
  }

  aside .asideCopy {
    width: 100%;
    box-shadow: none;
    padding: 50px;
  }
  .blogCommentsForm {
    padding: 0 0 20px 0;
  }
}

@media (max-width: 550px) {
  //main//
  .mainHeader h1 {
    font-size: 4.3rem;
    line-height: 70px;
    padding-top: 140px;
  }

  .mainLearnMore h2 {
    font-size: 1rem;
  }

  //blog//  
  .blogMainFlexContainer aside {
   display: none;
  }

  .blogImg {
    top: -240px;
  }
}

@media (max-width: 500px) {

  //main// {
    .mainLearnMoreContent {
      flex-direction: column;
      align-content: center;
        .learnMoreBox {
          width: 100%;
        }
    }

    .mainLearnMoreContent a

  //blog//
  .blogContent {
    padding-top: 15px;
    margin-right: 0;
  }

  .blogComments {
    padding: 10px;
      h3 {
        font-size: 1rem;
      } p {
        font-size: .9rem;
      }
  }

  //contact//
  .contactMainFlexContainer .ourContactInfo {
    flex-direction: column;
    align-items: center;
      .socialMediaLinks {
        padding: 0;
      }
  }
}