//MEDIA QUERIES FOR 500PX - 750PX//

@media (max-width: 750px) {
  //index styles//
  .mainHeader h1 {
    font-size: 6.3rem;
    line-height: 105px;
  }

  .mainEvents h2,
  .learnMoreBox h2 {
    font-size: 1.3rem;
  } 

  .mainEvents .eventsOne,
  .mainEvents .eventsTwo {
    display: block;
  }

  .mainEvents .eventsHalf{
    max-width: 100%;
    padding: 5%;
    text-align: center;
  }

  .mainLearnMore {
    padding: 80px 0;
  }

  .mainAboutContent {
    flex-direction: column;
  }

  .mainAboutImg {
    width: 50%;
    padding-bottom: 60px;
    margin: 0 auto;
  }

  .mainAboutCopy {
    width: 100%;
    margin: 0;
    text-align: center;
  }

  //blog styles//
  .blogContent {
    padding-top: 130px;
  }

  .blogComments {
    padding-bottom: 0;
  }

  .asideCopy {
    padding: 10px 30px;
  }

  .asideCopy p,
  .asideCopy ul a {
    font-size: .9rem;
  }

  .asideCopy h2,
  .asideCopy h3 {
    font-size: 1.2rem;
  }

  .asideCopy h3 {
    padding: 5px 0;
  }

  //contact styles//
  .contactHeader h1 {
    width: 50%;
  }

  .contactMain {
    padding: 50px 0;
  }

  .contactMainFlexContainer {
    flex-direction: column-reverse;
  }

  .contactMainFlexContainer .ourContactInfo {
    display: flex;
    flex-direction: row;
    padding: 40px 0;
    margin: 0;
    width: 100%;
      .socialMediaLinks {
        padding-right: 100px;
      } 
  }

  .contactMainFlexContainer .ourContactInfo .contactDetails {
    width: 100%;
  }

  .contactMainFlexContainer .contactUsForm {
    position: static;
    width: 100%;
  }
}

@media (max-width: 650px) {
  //index styles//
  .mainHeader h1 {
    font-size: 5.3rem;
    line-height: 95px;
    padding-top: 15%;
  }

  .topHeaderBar {
    flex-direction: row-reverse;
  }

  .topHeaderBar label  {
    z-index: 1000;
  }

  label svg  {
    display: block;
  }

  .logo,
  .topHeaderBar nav ul {
    display: none;
  }

  // Hamburger menu styles//
  #responsiveNav:checked ~ nav ul {
    display: block;
    flex-direction: column;
    background: transparentize($color: $primaryColor3, $amount: .4);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 30;
    text-align: center;
    padding-top: 10%;
    position: fixed;
      a {
        font-size: 1.2rem;
      }
  }

  #responsiveNav:focus ~ label svg {
    border: 1px solid $primaryColor1;
  }

  #responsiveNav:checked ~ label > svg g:nth-of-type(2) {
    opacity: 0;
  }

  #responsiveNav:checked ~ label > svg g:nth-of-type(1) {
    transform: rotate(45deg) translate(100px, -155px);
  }

  #responsiveNav:checked ~ label > svg g:nth-of-type(3) {
    transform: rotate(-45deg) translate(-280px, 10px);
  }

  .mainOverview,
  .instagramGallery {
    padding: 60px 0;
  }

  .mainLearnMore {
    padding: 20px;
  }

  .mainLearnMoreContent  {
    flex-direction: column;
    align-content: center;
      .learnMoreBox {
        width: 100%;
        padding: 15px 0;
      }
  }

  .sectionBanner {
    height: 40vh;
  }

  .instagramGallery ul li {
    width: 50%;
      &:last-child {
        display: none;
      }
  }

  //blog styles//
  .blogContent {
    padding-top: 60px;
  }

  .asideImg {
    display: none;
  }

  aside .asideCopy {
    width: 100%;
    box-shadow: none;
    padding: 50px;
  }

  .blogCommentsForm {
    padding: 0 0 20px 0;
  }
}

@media (max-width: 550px) {
  //index styles//
  .mainHeader h1 {
    font-size: 4.3rem;
    line-height: 70px;
    padding-top: 140px;
  }

  //blog styles//  
  .blogImg {
    top: -215px;
  }
}

@media (max-width: 500px) {
  //index styles// 
  .mainLearnMoreContent {
    flex-direction: column;
    align-content: center;
      .learnMoreBox {
        width: 100%;
      } p {
          margin: 0;
          text-align: center;
      }
  }


  //blog styles//
  .blogContent {
    padding-top: 10px;
    margin-right: 0;
  }

  .blogComments {
    padding: 10px;
      h3 {
        font-size: 1rem;
      } p {
        font-size: .9rem;
      }
  }

  //contact styles//
  .contactMain {
    padding: 30px 0;
  }
  
  .contactMainFlexContainer .ourContactInfo,
  .mainLearnMoreContent a {
    flex-direction: column;
    align-items: center;
      .socialMediaLinks {
        padding: 0;
      }
  }

  .contactMainFlexContainer .ourContactInfo .contactDetails {
    text-align: center;
    width: 100%;
  }

  .learnMoreBox .fas {
    margin: 0;
  }
}